@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Montserrat as the default font for the app */
body {
  font-family: 'Montserrat', 'Inter', sans-serif;
  color: #111111;
  background-color: #fff;
}
